# .coveragerc to control coverage.py
[run]
source = .
omit =
   *venv/*
   *venv/bin/*
   *venv/include/*
   *venv/lib/*
   *manage.py
   */settings.py
   */fixtures/*
   */static/*
   */templates/*
   */tests/*
   *apps.py
   */migrations/*
   */wsgi.py
   */asgi.py
   */urls.py

   *__init__*
   */__pycache__/*
   */site-packages/*
   */distutils/*


[report]
#fail_under = 80
show_missing = True
#skip_covered = True
