Django==3.2.4
django-crispy-forms==1.12.0
numpy==1.20.3
pandas==1.2.4
django-pandas==0.6.4
gspread-pandas==2.3.0
djangorestframework==3.12.4
Markdown==3.3.4
django-cors-headers==3.7.0
Pillow==8.3.2
django-rest-knox==4.1.0
wagtail==2.13.2
django-debug-toolbar==3.2.1