Django==5.2.2
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
numpy==2.2.6
pandas==2.2.3
django-pandas==0.6.7
djangorestframework==3.16.0
django-autocomplete-light==3.12.1
Markdown==3.8
django-cors-headers==4.7.0
Pillow==11.2.1
django-rest-knox==5.0.2
python-dotenv==1.1.0
mysqlclient==2.2.7
requests==2.32.3
git+https://github.com/revsys/django-health-check@master # simple db checks are only available in 3.18.4.dev, whhich isn't released by now