{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {% if object %}
            <legend class="border-bottom mb-3">Spieltag aktualisieren</legend>
            {% else %}
            <legend class="border-bottom mb-3">Spieltag erstellen</legend>
            {% endif %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            {% if object %}
            <div class="d-flex gap-2">
                <button class="btn btn-primary flex-grow-1" type="submit" name="action" value="update">
                    Spieltag aktualisieren
                </button>
                <button class="btn btn-outline-primary" type="submit" name="action" value="gameinfos_update">
                    Spiele anpassen
                </button>
            </div>
            {% else %}
            <div class="d-flex gap-2">
                <button class="btn btn-primary flex-grow-1" type="submit" name="action" value="create">
                    Spieltag erstellen
                </button>
                <button class="btn btn-outline-primary" type="submit" name="action" value="gameinfos_create">
                    Spiele erstellen
                </button>
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}