{% extends "base.html" %}
{% block content %}
<ul class="nav nav-pills mb-1">
    {% for year in years %}
    <li class="nav-item">
        <a class="nav-link {% if year == season %}active{% endif %}"
           href="{% url season_year_pattern season=year%}">{{ year }}</a>
    </li>
    {% endfor %}
</ul>
<ul class="nav nav-pills mb-3">
    {% for league in leagues %}
    <li class="nav-item">
        <a class="nav-link {% if league == current_league %}active{% endif %}"
           href="{% url season_year_league_pattern season=season league=league %}">{{ league }}</a>
    </li>
    {% endfor %}
</ul>
{% if current_league %}
<article class="media content-section">
    <div class="media-body">
        <h2><a class="article-title" href=""><i class="bi bi-table"></i> {{ current_league }} Statistiken</a></h2>
    </div>
</article>
<h2>Spieltage</h2>
{% endif %}
{% for gameday in gamedays %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'league-gameday-detail' gameday.id %}">{{ gameday.date }}</a> - {{gameday.league.name}}
        </div>
        <h2><a class="article-title" href="{% url 'league-gameday-detail' gameday.id %}">{{ gameday.name }}</a></h2>
        <p class="article-content"></p>
    </div>
</article>
{% endfor %}
{% endblock content %}
