{% extends "base.html" %}
{% load static %}
{% block content %}
<!--<script src="{% static 'gamedays/js/jquery.bracket.min.js' %}" type="text/javascript"></script>-->
<!--<link href="{% static 'gamedays/css/jquery.bracket.min.css' %}" rel="stylesheet" type="text/css"/>-->
{% if not request.GET.isExtern %}
<h1>Spieltag "{{ object.name }}"</h1>
{% endif %}
<div class="row mb-1">
    <div class="col">Datum: {{ object.date }}</div>
    <div class="col-8">Ort: {{ object.location }}</div>
</div>
<div class="row mb-1">
    <div class="col">Captains-Meeting: {{ object.cap_meeting|time:"H:i a" }}</div>
    <div class="col-8">Veranstalter: {{object.host }}</div>
</div>
<div class="row mb-1">
    <div class="col">Turnierbeginn: {{ object.start|time:"H:i a" }}</div>
</div>

<div class="card" style="overflow: auto">
    <div aria-controls="collapseSchedule" aria-expanded="true" class="card-header" data-target="#collapseSchedule"
         data-toggle="collapse" id="headingSchedule" role="button">
        <h2>Spielplan</h2>
    </div>
    <div aria-labelledby="headingSchedule" class="collapse show" id="collapseSchedule">
        <div class="card-body">
            {% if info.schedule == None %}
            Spielplan wurde noch nicht erstellt.
            {% else %}
            <input class="mb-1" id="search" placeholder="Suche nach Teamname" type="text"><br/>
            {{ info.schedule | safe }}
            {% endif %}
        </div>
    </div>
</div>
{% if info.qualify_table != None %}
<div class="card" style="overflow: auto">
    <div aria-controls="collapseQualify" aria-expanded="false" class="card-header" data-target="#collapseQualify"
         data-toggle="collapse" id="headingQualify" role="button">
        <h2>Vorrunden-Tabelle</h2>
    </div>
    <div aria-labelledby="headingQualify" class="collapse" id="collapseQualify">
        <div class="card-body">
            {{ info.qualify_table | safe }}
        </div>
    </div>
</div>
{% endif %}
<div class="card" style="overflow: auto">
    <div aria-controls="collapseFinal" aria-expanded="false" class="card-header" data-target="#collapseFinal"
         data-toggle="collapse" id="headingFinal" role="button">
        <h2>Abschlusstabelle</h2>
    </div>

    <div aria-labelledby="headingFinal" class="collapse" id="collapseFinal">
        <div class="card-body">
            {% if info.final_table == None %}
            Abschlusstabelle wird berechnet, sobald alle Spiele fertig sind.
            {% else %}
            {{ info.final_table | safe }}
            {% endif %}
        </div>
    </div>
</div>


<div id="playoff-bracket"></div>


<script>
    $(function() {
        $('table tbody tr').addClass('text-nowrap')
    })

var $rows = $('#schedule tbody tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

{% if info.final_matchup != None %}
var minimalData = {{ info.final_matchup | safe }}
//var minimalData = {"teams": [[{"name": "Wall"}, null], [{"name": "Stutt"}, {"name": "Rooks"}], [{"name": "Spatzen"}, {"name": "W\u00fcrz"}], [{"name": "Wall"}, null]], results: []}


/* Edit function is called when team label is clicked */
function edit_fn(container, data, doneCb) {
  var input = $('<input type="text">')
  input.val(data ? data.flag + ':' + data.name : '')
  container.html(input)
  input.focus()
  input.blur(function() {
    var inputValue = input.val()
    if (inputValue.length === 0) {
      doneCb(null); // Drop the team and replace with BYE
    } else {
      var flagAndName = inputValue.split(':') // Expects correct input
      doneCb({flag: flagAndName[0], name: flagAndName[1]})
    }
  })
}

/* Render function is called for each team label when data is changed, data
 * contains the data object given in init and belonging to this slot.
 *
 * 'state' is one of the following strings:
 * - empty-bye: No data or score and there won't team advancing to this place
 * - empty-tbd: No data or score yet. A team will advance here later
 * - entry-no-score: Data available, but no score given yet
 * - entry-default-win: Data available, score will never be given as opponent is BYE
 * - entry-complete: Data and score available
 */
function render_fn(container, data, score, state) {
  switch(state) {
    case "empty-bye":
      container.append("No team")
      return;
    case "empty-tbd":
      container.append("Upcoming")
      return;

    case "entry-no-score":
    case "entry-default-win":
    case "entry-complete":
      container.append(data.name)
      return;
  }
}

$(function() {
  $('#playoff-bracket').bracket({
    init: minimalData,
   // save: function(){}, /* without save() labels are disabled */
    decorator: {edit: function(){},
                render: render_fn}
    })
  }
)
{% endif %}

</script>

{% endblock content %}