{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {% if object %}
            <legend class="border-bottom mb-3">Spieltag aktualisieren</legend>
            {% else %}
            <legend class="border-bottom mb-3">Spieltag erstellen</legend>
            {% endif %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            {% if object %}
            <button class="btn btn-primary w-100" type="submit">Aktualisieren</button>
            {% else %}
            <button class="btn btn-primary w-100" type="submit">Erstellen</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}