{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body alert alert-danger" role="alert">
        <h1>403 - Unsportliches Verhalten</h1>
        <p>Du möchtest auf etwas zugreifen, das du nicht darfst. Melde dich vorher an oder wenn du schon angemeldet
            bist, dann fehlen dir die Rechte.<br/>
            Wende dich bitte an: c.kaempfe@afvd.de mit einem entsprechenden Screenshot
            und einer detaillierten Beschreibung.</p>
    </div>
</article>
{% endblock content %}
