<!doctype html>
{% load static %}
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    {% if not request.GET.isExtern %}
    <link href='{% static "gamedays/css/main.css" %}' rel="stylesheet" type="text/css">
    {% endif %}
    {% if title %}
    <title>5er DFFL - {{ title }}</title>
    {% else %}
    <title>5er DFFL</title>
    {% endif %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
{% if not request.GET.isExtern %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'league-home' %}">5er DFFL</a>
            <button aria-controls="navbarToggle" aria-expanded="false" class="navbar-toggler"
                    data-bs-target="#navbarToggle" data-bs-toggle="collapse"
                    role="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'league-home' %}">Home</a>
                    <!--                    <a class="nav-item nav-link" href="{% url 'teammanager' %}">Teammanager</a>-->
                    <a class="nav-item nav-link" href="{% url 'view-officials-list-for-all-teams' %}">Teams</a>
                    <a class="nav-item nav-link" href="{% url 'view-officials-game-officials-appearance' %}">Alle
                        Einsätze</a>
                    {% if object %}
                    <a class="nav-item nav-link" href="{% url 'league-gameday-update' object.id%}">Edit</a>
                    {% endif %}
                </div>
                <!-- Navbar Right Side -->
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'clear-cache' %}">
                        <button class="btn btn-warning" type="button">Clear Cache</button>
                    </a>
                </div>
                {% endif %}
                <div class="navbar-nav">

                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
{% endif %}
<main class="container" role="main">
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
        <!--div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
            </div>
        </div-->
    </div>
</main>
</body>
</html>
