<div hidden id="displayFinalize">
    <div class="row">
        <div class="col s4">
            <div class="right-align" id="finalHome" style="margin-top: 10px">Heimteam</div>
        </div>
        <div class="col s2">
            <div class="card-panel center-align teal lighten-5">
                <span id="finalScoreHome">0</span>
            </div>
        </div>
        <div class="col s2">
            <div class="card-panel center-align teal lighten-5">
                <span id="finalScoreAway">0</span>
            </div>
        </div>
        <div class="col s4">
            <div id="finalAway" style="margin-top: 10px">Auswärtsteam</div>
        </div>
    </div>

    <form action="javascript:saveEdit()" hidden id="editFinalScore">
        <div class="row">
            <div class="input-field col s2 offset-s4">
                <input id="editFinalScoreHome" required="" type="number">
                <label for="editFinalScoreHome">Punkte</label>
            </div>
            <div class="input-field col s2">
                <input id="editFinalScoreAway" required="" type="number">
                <label for="editFinalScoreAway">Punkte</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4 offset-s4">
                <button class="btn btn-block waves-effect waves-light" id="saveFinalScoreBtn">Speichern
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="input-field col s4 offset-s4">
            <button class="btn btn-block waves-effect waves-light grey darken-1" id="editFinalScoreBtn">Bearbeiten
                <i class="material-icons right">edit</i>
            </button>
        </div>
    </div>
    <form action="javascript:;" class="row" onsubmit="javascript:confirm(this)">
        <div class="input-field col s8">
            <input id="finalCptHome" required="" type="text">
            <label for="finalCptHome">Heimteam-Captain</label>
        </div>
        <div class="input-field col s4">
            <button class="btn btn-block waves-effect waves-light" id="confirmHome" name="homeConfirmBtn">Bestätigen
                <i class="material-icons right">done</i>
            </button>
            <button class="btn btn-block waves-effect waves-light" name="homeConfirmBtn" style="display:none">Zurück
                <i class="material-icons right">block</i>
            </button>
        </div>
    </form>
    <form action="javascript:;" class="row" onsubmit="javascript:confirm(this)">
        <div class="input-field col s8">
            <input id="finalCptAway" required="" type="text">
            <label for="finalCptAway">Auswärtsteam-Captain</label>
        </div>
        <div class="input-field col s4">
            <button class="btn btn-block waves-effect waves-light" id="confirmAway" name="awayConfirmBtn">Bestätigen
                <i class="material-icons right">done</i>
            </button>
            <button class="btn btn-block waves-effect waves-light" name="awayConfirmBtn" style="display:none">Zurück
                <i class="material-icons right">block</i>
            </button>
        </div>
    </form>
    <button class="btn btn-block waves-effect waves-light" id="finalizeBtn">Ergebnis abschicken
        <i class="material-icons right">send</i>
    </button>

    <div class="switch" style="margin: 20px 0px">
        <label>
            Aus
            <input id="tableSwitch" type="checkbox">
            <span class="lever"></span>
            An - Spielverlauf Tabelle
        </label>
    </div>
    <div class="row" hidden id="tableStructureFinalize"></div>
</div>
<div class="card-panel white-text green darken-1" hidden id="gameFinalize">Spielwerte wurden erfolgreich gespeichert.
    Dieses Fenster kann geschlossen werden.
</div>