<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link
          crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          rel="stylesheet"
  />
  {% load static %}
  <link href='{% static "scorecard/css/scorecard.css" %}' rel="stylesheet"/>
  <title>5er DFFL - Scorecard</title>
</head>
<body>
<div id="app"></div>
<script
        crossorigin="anonymous"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
></script>
<script src='{% static "scorecard/js/scorecard.js" %}'></script>
<script>
  const DEBUG = false;
  if (!DEBUG) {
      window.addEventListener('beforeunload', function (e) {
      // Cancel the event
      e.preventDefault();
      // Chrome requires returnValue to be set
      e.returnValue = '';

      // Prompt the user with a confirmation dialog
      const confirmationMessage = 'Are you sure you want to leave this page? Your changes may not be saved.';
      (e || window.event).returnValue = confirmationMessage; // For IE and Firefox
      return confirmationMessage; // For Safari
      });
  }
</script>
</body>
</html>
