<div hidden hidden id="displayGameInput">
    <div class="row">
        <div class="col s4">
            <label class="btn-block">
                <input id="homeTeam" name="teamname" type="radio" value="homeTeam"/>
                <span class="btn btn-block">Heimteam</span>
            </label>
        </div>
        <div class="col s2">
            <div class="card-panel center-align teal lighten-5">
                <span id="scoreHome">0</span>
            </div>
        </div>
        <div class="col s2">
            <div class="card-panel center-align teal lighten-5">
                <span id="scoreAway">0</span>
            </div>
        </div>

        <div class="col s4">
            <label class="btn-block">
                <input id="awayTeam" name="teamname" type="radio" value="awayTeam"/>
                <span class="btn btn-block away">Auswärts</span>
            </label>
        </div>
    </div>
    <form action="javascript:saveEntry()" id="scoreEntry" style="display:none">
        <div class="row">
            <div class="col s6">
                <label class="btn-block">
                    <input checked id="tdBtn" name="entryGroup" type="radio" value="Touchdown"/>
                    <span class="btn btn-block">Touchdown</span>
                </label>
            </div>
            <div class="col s6">
                <label class="btn-block">
                    <input id="manualBtn" name="entryGroup" type="radio" value="Manuell"/>
                    <span class="btn btn-block">Andere Punkte</span>
                </label>
            </div>
        </div>
        <div id="tdEntry">
            <div class="row">
                <div class="input-field col s12">
                    <input id="tdNumber" required="" type="number">
                    <label for="tdNumber">#TD</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="patNumber" type="number">
                    <label for="patNumber">#PAT</label>
                </div>
                <div class="col s3">
                    <label class="">
                        <input checked id="pat1" name="group2" type="radio" value=1/>
                        <span class="btn btn-block">1</span>
                    </label>
                </div>
                <div class="col s3">
                    <label class="">
                        <input name="group2" type="radio" value=2/>
                        <span class="btn btn-block">2</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" hidden id="manualEntry">
            <div class="col s2">
                <label class="">
                    <input name="manualPointsGroup" type="radio" value="+1"/>
                    <span class="btn btn-block">1</span>
                </label>
            </div>
            <div class="col s2">
                <label class="">
                    <input checked name="manualPointsGroup" type="radio" value="+2"/>
                    <span class="btn btn-block">2</span>
                </label>
            </div>
            <div class="col s2 offset-s1">
                <label class="">
                    <input name="manualPointsGroup" type="radio" value=-1/>
                    <span class="btn btn-block">-1</span>
                </label>
            </div>
            <div class="col s2">
                <label class="">
                    <input name="manualPointsGroup" type="radio" value=-2/>
                    <span class="btn btn-block">-2</span>
                </label>
            </div>
            <div class="col s2">
                <label class="">
                    <input name="manualPointsGroup" type="radio" value=-6/>
                    <span class="btn btn-block">-6</span>
                </label>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="manualNumber" type="number">
                    <label for="manualNumber">#Trikotnummer</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-block waves-effect waves-light" id="saveEntry">Eintrag hinzufügen
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="input-field col s2">
            <button class="btn btn-block waves-effect waves-light" data-timer="60" id="to1home" name="timeout">
                <i class="material-icons middle">timer</i>
            </button>
        </div>
        <div class="input-field col s2">
            <button class="btn btn-block waves-effect waves-light" data-timer="60" id="to2home" name="timeout">
                <i class="material-icons middle">timer</i>
            </button>
        </div>
        <div class="input-field col s4" name="shHide">
            <button class="btn btn-block waves-effect waves-light grey darken-1" data-timer="120" id="htBtn">Halbzeit
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="input-field col s4" hidden name="shShow">
            <button class="btn btn-block waves-effect waves-light grey darken-1" id="finalBtn">Ende
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="input-field col s2">
            <button class="btn btn-block waves-effect waves-light" data-timer="60" id="to1away" name="timeout">
                <i class="material-icons middle">timer</i>
            </button>
        </div>
        <div class="input-field col s2">
            <button class="btn btn-block waves-effect waves-light" data-timer="60" id="to2away" name="timeout">
                <i class="material-icons middle">timer</i>
            </button>
        </div>
    </div>


    <!-- Table Structrue -->
    <div id="tableStructure">
        <div class="row" hidden name="shShow">
            <div class="col s5">
                <table class="highlight centered" id="shHomeLog">
                    <tr>
                        <th>Pkt:</th>
                        <th>6</th>
                        <th>2</th>
                        <th>1</th>
                    </tr>
                </table>
            </div>
            <div class="col s5 offset-s2">
                <table class="highlight centered" id="shAwayLog">
                    <tr>
                        <th>Pkt:</th>
                        <th>6</th>
                        <th>2</th>
                        <th>1</th>
                    </tr>
                </table>
            </div>
        </div>

        <div hidden name="shShow">
            <div class="row divider"></div>
            <div class="row">
                <div class="input-field center-align">Halbzeitstand <span id="htScoreHome">0</span>:<span
                        id="htScoreAway">0</span></div>
            </div>
        </div>

        <div class="row" id="fh">
            <div class="col s5">
                <table class="highlight centered" id="fhHomeLog">
                    <tr>
                        <th>Pkt:</th>
                        <th>6</th>
                        <th>2</th>
                        <th>1</th>
                    </tr>
                </table>
            </div>
            <div class="col s5 offset-s2">
                <table class="highlight centered" id="fhAwayLog">
                    <tr class="centered">
                        <th>Pkt:</th>
                        <th>6</th>
                        <th>2</th>
                        <th>1</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row" class="refInfo centered">
        <div class="input-field col s5 text-center">Ballbesitz 1. Hälfte: <strong><span id="refBall"></span></strong>
        </div>
        <div class="input-field col s5 offset-s2 text-center">Spielrichtung 1. Hälfte: <i class="material-icons middle"
                                                                                          id="refDir"></i>
        </div>
    </div>

    <!-- Modal Structure -->
    <div class="modal" id="modalTimer" style="width:95%;">
        <div class="modal-content" style="padding:10px;">
            <h4 id="timerTitle">Timer</h4>
            <form action="javascript:saveMatchTime()">
                <ul class="collection">
                    <li class="collection-item">restliche Spielzeit:
                        <div class="row">
                            <div class="input-field col s5">
                                <input id="mtMins" required type="number">
                                <label for="mtMins">Minuten</label>
                            </div>
                            <div class="input-field col s2" style="text-align: center;">
                                :
                            </div>
                            <div class="input-field col s5">
                                <input id="mtSecs" required type="number">
                                <label for="mtSecs">Sekunden</label>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="timer" id="timer">
                            verbleibende Spielzeitunterbrechung:<br/>
                            <div id="minutes">00<span>Minuten</span></div>
                            <div id="seconds">00<span>Sekunden</span></div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col s6">
                        <a class="btn btn-block waves-effect modal-close grey darken-2" style="margin-top: 10px;">Abbrechen
                            <i class="material-icons right">cancel</i>
                        </a>
                    </div>
                    <div class="col s6">
                        <button class="btn btn-block waves-effect waves-light" id="saveMatchTime"
                                style="margin-top: 10px;">
                            Fertig
                            <i class="material-icons right">done</i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>