<div id="displayGameSelection">
    <h4 id="gamedayTitle"></h4>
    <form action="javascript:loadGameInfo()">
        <div class="input-field col s12">
            <select class="browser-default" disabled id="gamedaySelection">
                <option disabled selected value="">Spieltage werden geladen ...</option>
            </select>
        </div>
        <div class="input-field col s12">
            <select class="browser-default" disabled id="gameSelection">
                <option disabled selected value="">Bitte ein Spiel auswählen</option>
            </select>
        </div>
        <div class="input-field col s12">
            <input hidden id="pin" required="true" type="number">
            <label for="pin">Bitte PIN für Spiel vergeben</label>
        </div>
        <button class="waves-effect waves-light btn btn-block" href="#" id="selectGame">Spiel auswählen</button>
    </form>
    <div class="card-panel white-text red darken-1" hidden id="errorMessagePin">PIN ist fehlerhaft. Sollte der PIN nicht
        bekannt sein, bitte an einen Ligaorganisator wenden!
    </div>
</div>
