<div hidden id="displayGameSetup">
    <h4 id="setupTitle">Spiel wird geladen ...</h4>
    <form action="javascript:startGame()">
        <div class="row">
            <div class="input-field col s12">
                <input id="scJudge" required="" type="text">
                <label for="scJudge">Scorecard Judge-Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="referee" required="" type="text">
                <label for="referee">Referee-Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="linesman" required="" type="text">
                <label for="linesman">Linesman-Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="fieldjudge" required="" type="text">
                <label for="fieldjudge">Field Judge-Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="sidejudge" required="" type="text">
                <label for="sidejudge">Side Judge-Name</label>
            </div>
        </div>
        <div class="row center-align">
            Münzwahl hat <strong><span id="ctAway"></span></strong>:
        </div>
        <div class="row">

            <div class="col s6">
                <label>
                    <input name="ctWon" required type="radio" value="won"/>
                    <span class="btn btn-block">Gewonnen</span>
                </label>
            </div>
            <div class="col s6">
                <label>
                    <input name="ctWon" type="radio" value="lost"/>
                    <span class="btn btn-block">Verloren</span>
                </label>
            </div>
        </div>
        <div class="row center-align">
            Team mit Ballbesitz in der ersten Halbzeit
        </div>
        <div class="row">

            <div class="col s6">
                <label>
                    <input id="possHome" name="fhPosession" required type="radio" value="won"/>
                    <span class="btn btn-block">Heimteam</span>
                </label>
            </div>
            <div class="col s6">
                <label>
                    <input id="possAway" name="fhPosession" type="radio" value="lost"/>
                    <span class="btn btn-block">Gastteam</span>
                </label>
            </div>
        </div>
        <div class="row center-align">
            Spielrichtung erste Halbzeit
        </div>
        <div class="row">
            <div class="col s6">
                <label>
                    <input name="direction" required type="radio" value="arrow_forward"/>
                    <span class="btn btn-block"><i class="material-icons middle">arrow_forward</i></span>
                </label>
            </div>
            <div class="col s6">
                <label>
                    <input name="direction" type="radio" value="arrow_back"/>
                    <span class="btn btn-block"><i class="material-icons middle">arrow_back</i></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-block waves-effect waves-light" id="startGame">Spiel starten
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
    <div hidden id="gameDate"></div>
    <div hidden id="startDate"></div>
    <div hidden id="htDate"></div>
    <div hidden id="endDate"></div>
</div>
