<!DOCTYPE html>
{% load static %}
<html>
<head>
    <base target="_self">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.jquery.com/qunit/qunit-2.11.3.css" rel="stylesheet">
    <link href='{% static "scorecard/css/scorecard.css" %}' rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/qunit/qunit-2.11.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/qunit-dom/dist/qunit-dom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sinon@9/pkg/sinon.js"></script>
    <script src='{% static "scorecard/js/api_scorecard.js" %}'></script>
    <script src='{% static "scorecard/js/select_scorecard.js" %}'></script>
    <script src='{% static "scorecard/js/setup_scorecard.js" %}'></script>
    <script src='{% static "scorecard/js/detail_scorecard.js" %}'></script>
    <script src='{% static "scorecard/js/finalize_scorecard.js" %}'></script>
    <script src='{% static "scorecard/js/tests/test_data_scorecard.js" %}'></script>
    <script src='{% static "scorecard/js/tests/test_select_scorecard.js" %}'></script>
    <script src='{% static "scorecard/js/tests/test_setup_scorecard.js" %}'></script>

    <style>
    #qunit-fixture {
      position: static;
      top: 0px;
      left: 0px;
      width: 1000px;
      height: 1000px;
    }

    </style>
</head>

<body>

<div id="qunit"></div>
<div id="qunit-fixture">
    {% include "./select.html" %}
    {% include "./setup.html" %}
    {% include "./scorecard.html" %}
    {% include "./finalize.html" %}
</div>
</body>

</html>