{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Bitte Team auswählen</th>
            </tr>
            </thead>
            <tbody>
            {% for team in object_list %}
            <tr>
                <td><a href="/{{app}}/team/{{team.pk}}/list">{{team.description}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}
