{% load custom_filters %}
{% if team_id %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Team Navigation</a>
        <button aria-controls="teamNavbar" aria-expanded="false" aria-label="Toggle Team navigation"
                class="navbar-toggler"
                data-bs-target="#teamNavbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="teamNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% url 'view-officials-list-for-team' pk=team_id as officials_list_for_team %}
                {% if officials_list_for_team %}
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">
                        Officials
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ officials_list_for_team }}">Übersicht</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'view-officials-game-officials-appearance-for-team-and-year' pk=team_id %}">Alle
                            Einsätze</a></li>
                    </ul>
                </li>
                {% endif %}
                {% url 'passcheck-roster-list' pk=team_id as passcheck_roster_list %}
                {% if passcheck_roster_list %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ passcheck_roster_list }}">Spieltage</a>
                </li>
                {% endif %}
                {% if False %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url '' %}">Pricing</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endif %}
