#root {
  margin: 10px 5px 10px 5px;
}

body {
    background-image: url('/static/league_manager/images/demo_background.png');
    background-repeat: no-repeat;
    background-size: 395px;
    background-position: center center;
    background-color: #FDEFEE;
}

.navbar {
    background-color: #FCDAD9;
}

.modal-footer {
  justify-content: space-between;
}

.anwesend {
  background-color: #00ff00;
}

.disabled-row {
  opacity: 0.5; /* You can adjust the opacity to make it visually appear disabled */
  pointer-events: none; /* Disable pointer events on the row */
}

button.accordion-button {
  background-color: #f8f9fa;
  text-align: center;
}

.additional-team-header {
  text-align: center;
  width: 100%;
}

i.bi {
  font-size: x-large;
}

tr {
  height: 40px;
}

.officialNameInput {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-width-button {
  width: 100%;
  height: 40px;
}

#searchbar {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
}

.modal-button-right,
.modal-button-left {
  width: 50px;
  height: 50px;
}

.modal-button-middle {
  width: 100px;
  height: 50px;
}

.span-div {
  position: relative;
  padding-bottom: 30px;
}

.left-span {
  position: absolute;
  left: 0;
}

.right-span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rounded-table {
  outline: 1px solid lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.table-border {
  border: 1px solid lightgray;
}

.card-div {
  margin-top: 5px;
}
