version: 2.1
orbs:
  node: circleci/node@7.1.1

jobs:
  python:
    docker:
      - image: cimg/python:3.13.7
      - image: cimg/mysql:8.0
        command: [ --default-authentication-plugin=mysql_native_password, --character-set-server=utf8mb4, --collation-server=utf8mb4_unicode_ci, --default-storage-engine=InnoDB ]
        environment:
          MYSQL_DATABASE: test_test_db
          MYSQL_USER: user
          MYSQL_PASSWORD: user
    working_directory: ~/repo

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-

      - run:
          name: install dependencies
          command: |
            pip install -r requirements.txt
            pip install -r test_requirements.txt
      - save_cache:
          paths:
            - ~/.pyenv
          key: v2-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          environment:
            SECRET_KEY: 123456-TEST
          command: |
            pytest --junitxml=test-reports/test-results.xml --cov=. --cov-report=xml --cov-report=html
      - store_test_results:
          path: test-reports

  scorecard_js:
    executor:
      name: node/default
      tag: "20.11"
    working_directory: ~/repo
    steps:
      - checkout
      - node/install-packages:
          app-dir: scorecard/
      - run:
          name: "JavaScript Test Suite"
          command: npm --prefix scorecard/ run jest
      - run:
          name: "JavaScript Linter"
          command: npm --prefix scorecard/ run eslint:junit
      - store_test_results:
          path: /tmp/eslint
      - run:
          name: "JavaScript Build"
          command: npm --prefix scorecard/ run build

  liveticker_js:
    executor:
      name: node/default
      tag: "20.11"
    working_directory: ~/repo
    steps:
      - checkout
      - node/install-packages:
          app-dir: liveticker/
      - run:
          name: "JavaScript Test Suite"
          command: npm --prefix liveticker/ run jest
      - run:
          name: "JavaScript Linter"
          command: npm --prefix liveticker/ run eslint:junit
      - store_test_results:
          path: /tmp/eslint
      - run:
          name: "JavaScript Build"
          command: npm --prefix liveticker/ run build

  passcheck_js:
    executor:
      name: node/default
      tag: "20.11"
    working_directory: ~/repo
    steps:
      - checkout
      - node/install-packages:
          app-dir: passcheck/
      - run:
          name: "JavaScript Linter"
          command: npm --prefix passcheck/ run eslint:junit
      - store_test_results:
          path: /tmp/eslint
      - run:
          name: "JavaScript Build"
          command: npm --prefix passcheck/ run build

workflows:
  version: 2
  build_and_test:
    jobs:
      - python
      - scorecard_js
      - liveticker_js
      - passcheck_js
