version: 2.1
orbs:
  codecov: codecov/codecov@1.1.3
  node: circleci/node@4.1.0

jobs:
  python:
    docker:
      - image: cimg/python:3.9.3
      - image: cimg/mysql:8.0
        environment:
          MYSQL_DATABASE: test_db
          MYSQL_USER: user
          MYSQL_PASSWORD: user
    working_directory: ~/repo

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-

      - run:
          name: install dependencies
          command: |
            python -m venv ~/.venv
            . ~/.venv/bin/activate
            pip install -r requirements.txt
            pip install -r test_requirements.txt
      - save_cache:
          paths:
            - ~/.venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          command: |
            . ~/.venv/bin/activate
            pytest --junitxml=test-reports/test-results.xml --cov=. --cov-report=xml --cov-report=html
      - store_test_results:
          path: test-reports
      - codecov/upload:
          file: coverage.xml

  scorecard_js:
    executor:
      name: node/default
      tag: "15.8"
    working_directory: ~/repo
    steps:
      - checkout
      - node/install-packages:
          app-dir: scorecard/
      - run:
          name: "JavaScript Test Suite"
          command: npm --prefix scorecard/ run jest
      - run:
          name: "JavaScript Linter"
          command: npm --prefix scorecard/ run eslint
      - store_test_results:
          path: /tmp/eslint

  liveticker_js:
    executor:
      name: node/default
      tag: "15.8"
    working_directory: ~/repo
    steps:
      - checkout
      - node/install-packages:
          app-dir: liveticker/
      - run:
          name: "JavaScript Test Suite"
          command: npm --prefix liveticker/ run jest
      - run:
          name: "JavaScript Linter"
          command: npm --prefix liveticker/ run eslint
      - store_test_results:
          path: /tmp/eslint

workflows:
  version: 2
  build_and_test:
    jobs:
      - python
#      - scorecard_js
#      - liveticker_js
