#formCheck.uncheck {
  background-position: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: background-color 0.15s ease-in-out,
    background-position 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
