{% if url_pattern and selected_season and seasons %}
<div class="dropdown">
    <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        Saison: {{ selected_season }}
    </button>

    <ul class="dropdown-menu">
        {% for current_season in seasons %}
            <li>
                {% if current_league %}
                <a
                    class="dropdown-item {% if selected_season == current_season %}active{% endif %}"
                    href="{% url url_pattern season=current_season league=current_league %}"
                >
                {% else %}
                <a
                    class="dropdown-item {% if selected_season == current_season %}active{% endif %}"
                    href="{% url url_pattern season=current_season %}"
                >
                {% endif %}
                    {{ current_season }}
                    {% if selected_season == current_season %}
                        ✓
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
