<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            rel="stylesheet"
    />
    {% load static %}
    <link href='{% static "liveticker/css/liveticker.css" %}' rel="stylesheet"/>
    <title>5er DFFL - Liveticker</title>
</head>
<body>
<h2>DEMO # Liveticker</h2>
<div id="liveticker-app"></div>
<script
        crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
></script>
<script src='{% static "liveticker/js/liveticker.js" %}'></script>
</body>
</html>
