{% extends 'base.html' %}
{% block title %}Player Detail{% endblock %}
{% block content %}
<head>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

    </style>
</head>
<body>

<h2>Table Caption</h2>
<p>To add a caption to a table, use the caption tag.</p>

<table style="width:100%">
    <caption>Player Detail</caption>
    <tr>
        <th>Game Day</th>
        <th>achievement.</th>
    </tr>
    <tr>
        <td>1/12/2020</td>
        <td>Hallo</td>
    </tr>
    <tr>
        <td>21/12/2020</td>
        <td>Ciao</td>
    </tr>
</table>

</body>
</html>
{% endblock %}