{% extends 'base.html' %}
{% block title %}Player Detail{% endblock %}
{% block content %}



<h1>{{ player.firstname }} {{ player.lastname }}</h1>

    {% if achievements %}
<table class="table">
    <tr>
        {% for Title in achievements.0%}
            <th>{{Title}}</th>
        {% endfor %}
     </tr>
    {% for game in achievements %}
    <tr>
        {% for item,value in game.items %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}


</table>
    {% endif %}
{% endblock %}