{% extends 'base.html' %}
{% block title %}Player Detail{% endblock %}
{% block content %}



<h1>{{ player.firstname }} {{ player.lastname }}</h1>

<table class="table">
    <tr>
        <th>Game Day</th>
        {% for categorie in gamedays.categories%}
            <th>{{categorie}}</th>
        {% endfor %}
    </tr>
{% for gameday in gamedays.items %}
    <tr>
    <td>
        {{ gameday }}
    </td>
    {% for item in gameday %}
        <td>
        {{item}}
        </td>
        {% endfor %}
    </tr>

{% endfor %}
</table>
{% endblock %}