{% extends 'base.html' %}
{% block title %}Teams{% endblock %}
{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Division</th>
            <th scope="col">Ort</th>
        </tr>
    </thead>
    <tbody>
        {%  for team in teams %}
            <tr onclick="window.location='team/{{ team.id }}'" style="cursor: pointer">
                <td style="width : 1%; white-space : nowrap;">
                    {% if team.logo %}<img style="width: 100px; height: 50px" src="{{ team.logo.url }}"/>{% endif %}
                </td>
                <td style="vertical-align: middle">
                    {{ team.name }}
                </td>
                <td style="vertical-align: middle">
                    {{ team.division.region }}
                </td>
                <td style="vertical-align: middle">
                    {{ team.place }}
                </td>
            </tr>
        {% endfor %}

    </tbody>

</table>
<button type="button" class="btn btn-success" style="float: right;margin-right: 10px" onclick="window.location='addteam'">add +</button>

{% endblock %}