{% extends 'base.html' %}
{% load static %}
{% block title %}{{ team.name }}{% endblock %}
{% block content%}
    <div>
        {% if team.logo %}<img src="{{ team.logo.url }}">{% endif %}
        <h1>{{ team.name }}</h1>
        {{ team.description }}
        {{ team.division.region }}
        {{ team.place }}
    </div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {%  for member in members %}
        <tr>
            <td></td>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{% for permission in member.permissions %} <img src="{%  static 'teammanager/icons/'%}{{ permission.permission.name}}.jpg" width="30" height="30">  {% endfor %}</td>
            <td>
                <form action="{% url 'edituser' member.pk %}" method="GET" >
                    {% csrf_token %}
                    <input class="btn btn-default btn-warning" type="submit" value="edit"/>
                </form>
            </td>
            <td>
                <form action="{% url 'deleteuser' member.pk %}" method="POST" >
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>

    {% endfor %}
    </table>
    <form action="{% url 'createuser' team.pk %}" method="POST" style="float:right; width:min-content ">
        {% csrf_token %}
        <input class="btn btn-default btn-success" type="submit" value="+add"/>
    </form>
    <br>
    <br>
    <form action="{% url 'deleteteam' team.pk %}" method="POST" style="float:right; width:min-content ">
        {% csrf_token %}
        <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
    </form>
    <form action="{% url 'editteam' team.pk %}" method="GET" style="width:min-content ">
        {% csrf_token %}
        <input class="btn btn-default btn-warning" type="submit" value="edit"/>
    </form>

{% endblock %}