{% extends 'base.html' %}
{% block title %}{{ team.name }}{% endblock %}
{% block body %}
    <div>
        <img src="{{ team.logo.url }}">
        <h1>{{ team.name }}</h1>
        {{ team.description }}
        {{ team.division.region }}
        {{ team.place }}
    </div>
    <form action="{% url 'editteam' team.pk %}" method="GET">
        {% csrf_token %}
        <input class="btn btn-default btn-warning" type="submit" value="edit"/>
    </form>
    <form action="{% url 'deleteteam' team.pk %}" method="POST" style="float:right">
        {% csrf_token %}
        <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
    </form>
{% endblock %}