{% extends 'base.html' %}
{% block title %}{{ team.name }}{% endblock %}
{% block content%}
    <div>
        {% if team.logo %}<img src="{{ team.logo.url }}">{% endif %}
        <h1>{{ team.name }}</h1>
        {{ team.description }}
        {{ team.division.region }}
        {{ team.place }}
    </div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
        </tr>
    </thead>
    {%  for member in members %}
        <tr>
            <td></td>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
        </tr>

    {% endfor %}
    </table>
    <form action="{% url 'editteam' team.pk %}" method="GET" style="width:min-content ">
        {% csrf_token %}
        <input class="btn btn-default btn-warning" type="submit" value="edit"/>
    </form>
    <form action="{% url 'deleteteam' team.pk %}" method="POST" style="float:right; width:min-content ">
        {% csrf_token %}
        <input class="btn btn-default btn-danger" type="submit" value="Delete"/>
    </form>
{% endblock %}