{% extends 'base.html' %}
{% block title %}upload csv{% endblock %}
{% block content %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    <h> CSV file should look like this:</h>
    <table class="table">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Playernumber</th>
        <th>Position</th>
        <th>Birthdate</th>
    </tr>
    <tr>
        <td>Player 1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Player 2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>
{% endblock %}