body {
    background-image: url('/static/league_manager/images/demo_background.png');
    background-repeat: no-repeat;
    background-size: 395px;
    background-position: center center;
    background-color: #FDEFEE;
}

.smaller {
  font-size: smaller;
}
