{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <p>
            Personen die einem <b>Fragezeichen</b> (<b>?</b>) hinter dem Namen haben, deren Spiele werden nicht gezählt,
            da für diese kein Eintrag gefunden wurde.<br/>
            Bei Fragen bitte an Chris wenden: c.kaempfe@afvd.de
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Datum</th>
                <th scope="col">Spieltag</th>
                <th scope="col">Team</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Spiel</th>
                <th scope="col">Platzierung</th>
            </tr>
            </thead>
            <tbody>
            {% for official in object_list %}
            <tr>
                <th scope="row">{{official.info.game_official_id}}</th>
                <td>{{official.info.date}}</td>
                <td>{{official.info.gameday}}</td>
                <td><a href="/officials/team/{{official.info.team_id}}/gamelist">{{official.info.team}}</a></td>
                <td>{{official.name}}</td>
                <td>{{official.position}}</td>
                <td>{{official.info.vs}} (#{{official.info.gameinfo_id}})</td>
                <td>{{official.info.standing}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}
