{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1>{{ object_list.year }} - {{ object_list.team }}</h1>
        <p>Angezeigt werden alle Spiele (inklusive externe Spiele, z.B. für Landesverband) die gepfiffen wurden für
            lizenzierte Offizielle. In Klammern sind alle Spiele die für die 5er DFFL gepfiffen wurden.</p>

        {% for year in object_list.officials_list.years %}
        <a href="/officials/team/{{team_id}}/list/{{year}}">{{ year }}</a>
        {% endfor %}
        <p>

            {{ object_list.officials_list.list|length }} - Offizielle
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nachname</th>
                <th scope="col">Vorname</th>
                <th scope="col">Lizenzstufe</th>
                <th scope="col">#Spiele</th>
                <th scope="col">#R</th>
                <th scope="col">#DJ</th>
                <th scope="col">#FJ</th>
                <th scope="col">#SJ</th>
            </tr>
            </thead>
            <tbody>
            {% for official in object_list.officials_list.list %}
            <tr>
                <th scope="row">{{official.id}}</th>
                <td>{{official.last_name}}</td>
                <td>{{official.first_name}}</td>
                <td>{{official.license}}</td>
                <td>{{official.overall_ext|add:official.overall}} ({{official.overall}})</td>
                <td>{{official.referee_ext|add:official.referee}} ({{official.referee}})</td>
                <td>{{official.down_judge_ext|add:official.down_judge}} ({{official.down_judge}})</td>
                <td>{{official.field_judge_ext|add:official.field_judge}} ({{official.field_judge}})</td>
                <td>{{official.side_judge_ext|add:official.side_judge}} ({{official.side_judge}})</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}
