{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    {% include 'team/team_navigation.html' %}
    <div class="media-body">
        <h1>{{ season }} - {{ team }}</h1>
        <p>
            Eine Beschreibung der Zahlen findest du, wenn du mit der Maus über die Zahl fährst.<br>
            Ein Einsatz als Scorecard Judge wird NICHT gewertet.
        </p>
        <p>
            Sollten Spiele fehlen, kannst du <a href="{% url 'view-officials-game-officials-appearance' %}">hier</a>
            überprüfen, ob dein Einsatz in der 5er DFFL gezählt wurde.
        </p>
        <p>
            Bei fehlenden Einsätzen, unabhänig ob DFFL, außerhalb der Liga oder Flag & Fun Turnieren, kannst du diese <a
                href="https://offd.de/offd/moodle/mod/page/view.php?id=315" target="_blank">hier</a> nachmelden.<br/>
        </p>
        {% include 'utils/year_filter.html' %}
        <h3>
            {{ officials_list|length }} - Offizielle
        </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nachname</th>
                <th scope="col">Vorname</th>
                <th scope="col">
                    <div data-bs-title="Lizenzstufe in der ausgewählten Saison" data-bs-toggle="tooltip">Lizenzstufe
                    </div>
                </th>
                <th scope="col">
                    <div data-bs-title="Summe aller Spiele (DFFL Spiele / Spiele außerhalb der DFFL)"
                         data-bs-toggle="tooltip">#Spiele
                    </div>
                </th>
                <th scope="col">
                    <div data-bs-title="Summe aller Spiele als Referee (DFFL Spiele / Spiele außerhalb der DFFL)"
                         data-bs-toggle="tooltip">#Referee
                    </div>
                </th>
                <th scope="col">
                    <div data-bs-title="Summe aller Spiele als Down Judge (DFFL Spiele / Spiele außerhalb der DFFL)"
                         data-bs-toggle="tooltip">#Down Judge
                    </div>
                </th>
                <th scope="col">
                    <div data-bs-title="Summe aller Spiele als Field Judge (DFFL Spiele / Spiele außerhalb der DFFL)"
                         data-bs-toggle="tooltip">#Field Judge
                    </div>
                </th>
                <th scope="col">
                    <div data-bs-title="Summe aller Spiele als Side Judge (DFFL Spiele / Spiele außerhalb der DFFL)"
                         data-bs-toggle="tooltip">#Side Judge
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for official in officials_list %}
            <tr>
                <th scope="row"><a
                        href="{% url 'view-officials-profile-gamelist' pk=official.id season=season %}">{{official.id}}</a>
                </th>
                <td>{{official.last_name}}</td>
                <td>{{official.first_name}}</td>
                <td>{{official.license}}</td>
                <td><span data-bs-title="Summe aller Spiele" data-bs-toggle="tooltip">{{official.position_count.sum.overall|floatformat}}</span>
                    (<span data-bs-title="Summe aller DFFL Spiele" data-bs-toggle="tooltip">{{official.position_count.scorecard.overall}}</span>
                    / <span data-bs-title="Summe aller externen Spiele" data-bs-toggle="tooltip">{{official.position_count.external.overall|floatformat}})</span>
                </td>
                <td><span data-bs-title="Summe aller Spiele als Referee" data-bs-toggle="tooltip">{{official.position_count.sum.referee|floatformat}}</span>
                    <span data-bs-title="DFFL Spiele als Referee" data-bs-toggle="tooltip">({{official.position_count.scorecard.referee}}</span>
                    / <span data-bs-title="Externe Spiele als Referee" data-bs-toggle="tooltip">{{official.position_count.external.referee|floatformat}})</span>
                </td>
                <td><span data-bs-title="Summe aller Spiele als Down Judge" data-bs-toggle="tooltip">{{official.position_count.sum.down_judge|floatformat}}</span>
                    <span data-bs-title="DFFL Spiele als Down Judge" data-bs-toggle="tooltip">({{official.position_count.scorecard.down_judge}}</span>
                    / <span data-bs-title="Externe Spiele als Down Judge" data-bs-toggle="tooltip">{{official.position_count.external.down_judge|floatformat}})</span>
                </td>
                <td><span data-bs-title="Summe aller Spiele als Field Judge" data-bs-toggle="tooltip">{{official.position_count.sum.field_judge|floatformat}}</span>
                    <span data-bs-title="DFFL Spiele als Field Judge" data-bs-toggle="tooltip">({{official.position_count.scorecard.field_judge}}</span>
                    / <span data-bs-title="Externe Spiele als Field Judge" data-bs-toggle="tooltip">{{official.position_count.external.field_judge|floatformat}})</span>
                </td>
                <td><span data-bs-title="Summe aller Spiele als Side Judge" data-bs-toggle="tooltip">{{official.position_count.sum.side_judge|floatformat}}</span>
                    <span data-bs-title="DFFL Spiele als Side Judge" data-bs-toggle="tooltip">({{official.position_count.scorecard.side_judge}}</span>
                    / <span data-bs-title="Externe Spiele als Side Judge" data-bs-toggle="tooltip">{{official.position_count.external.side_judge|floatformat}})</span>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock content %}
