{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {% if object %}
            <legend class="border-bottom mb-4">
                Verband {{ object.abbr }} unter {{parent_association.abbr}} bearbeiten
            </legend>
            {% else %}
            <legend class="border-bottom mb-4">
                Neuen Verband unter {{parent_association.abbr}} anlegen
            </legend>
            {% endif %}
            {{ form|crispy }}
        </fieldset>
        {% if object %}
            <div class="col">
                <button class="btn btn-info w-100">
                    Aktualisieren
                </button>
            </div>
            {% else %}
            <div class="col">
                <button class="btn btn-info w-100">
                    Erstellen
                </button>
            </div>
            {% endif %}
    </form>
</div>
{% endblock content %}