{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    {% include 'team/team_navigation.html' %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                {% if object %}
                Aktualisieren der Rosterliste von {{ user }}
                {% else %}
                Erstellen der Rosterliste von {{ user }}
                {% endif %}
            </legend>
            {% if object %}
            <div class="alert alert-warning" role="alert">
                Die <b>Passnummer</b> ist nicht bearbeitbar. Wenn diese nicht stimmen sollte, dann schicke bitte eine
                entsprechende Mail an deine Ligaorganisation.
            </div>
            {% endif %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                {% if object %}
                Aktualisieren
                {% else %}
                Erstellen
                {% endif %}
            </button>
        </div>
    </form>
</div>

{% endblock content %}
