{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1>Roster {{ object_list.team.name }}</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Trikot</th>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Passnummer</th>
                {% for league in object_list.all_leagues %}
                <th scope="col">#{{league.gamedays__league__name}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for player in object_list.team.roster %}
            <tr>
                <td>{{player.jersey_number}}</td>
                <td>{{player.first_name}}</td>
                <td>{{player.last_name}}</td>
                <td>{{player.pass_number}}</td>
                {% for league in object_list.all_leagues %}
                {% with field_name=league.gamedays__league %}
                <td>{{ player.gamedays_counter|get_item:field_name }}</td>
                {% endwith %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
{% endblock content %}
