{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form.non_field_errors }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Spielplan erstellen - Felder und Gruppen</legend>
            <div class="mb-3">
                {% if form.group_names.field.widget.choices|length == 0 %}
                <label for="{{ form.number_groups.id_for_label }}">{{ form.number_groups.label }}*</label>
                {{ form.number_groups }}
                {% else %}
                <label for="{{ form.group_names.id_for_label }}">{{ form.group_names.label }}*</label>
                {{ form.group_names }}
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.number_fields.id_for_label }}">{{ form.number_fields.label }}*</label>
                {{ form.number_fields }}
            </div>
            <div class="mb-3">
                <label for="{{ form.format.id_for_label }}">{{ form.format.label }} <a href="#" target="_blank">https://docs.google.com/spreadsheets/d/1YRZk1Gt4OzBVzUamRIktJOFrMhmvGMk0ziGxmeih-ZY/edit?usp=sharing</a>*</label>
                {{ form.format }}
            </div>

            <div class="wizard-controls">
                <div class="form-group">
                    <button class="btn btn-primary w-100" type="submit">Weiter</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
