{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form.non_field_errors }}

        <fieldset class="form-group">
            {% include "partials/legend_with_cancel.html" with title="Spielplan - Format, Feld und Gruppen" cancel_url=cancel_url %}
            <div class="mb-3">
                {% if form.group_names.field.widget.choices|length == 0 %}
                <label for="{{ form.number_groups.id_for_label }}">{{ form.number_groups.label }}*</label>
                {{ form.number_groups }}
                {% else %}
                <label for="{{ form.group_names.id_for_label }}">{{ form.group_names.label }}*</label>
                {{ form.group_names }}
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.number_fields.id_for_label }}">{{ form.number_fields.label }}*</label>
                {{ form.number_fields }}
            </div>
            <div class="mb-3">
                <label for="{{ form.format.id_for_label }}">{{ form.format.label }} <a href="{{ PAGES_LINKS.GENERIC_GAME_SCHEDULE_GOOGLE_SHEETS }}" target="_blank">auswählen</a>*</label>
                {{ form.format }}
            </div>

            <div class="wizard-controls">
                <div class="form-group">
                    <button class="btn btn-primary w-100" type="submit">Weiter</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
